table{
    text-align: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1:hover{
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0%{
        transform: translateX(0px) rotate(0deg);
        transition: all 0s ease-in-out 0s;
        
    }
    25%{
        transform: translateX(100px) rotate(180deg);
        transition: all 1s ease-in-out os;
    }
    50%{
        transform: translateX(200px) rotate(360deg);
        transition: all 1s ease-in-out 0s;
    }
    75%{
        transform: translateX(100px) rotate(180deg);
        transition: all 1s ease-in-out 0s;
    }
    100%{
        transform: translateX(0px) rotate(0deg);
        transition: all 1s ease-in-out 0s;
    }
}
#box2:hover{
    animation-name: spiny;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes spiny {
    0%{
        transform: translateX(-0px) rotate(0px);
        transition: all 0s ease-in-out 0s;
        
    }
    25%{
        transform: translateX(-100px) rotate(180deg);
        transition: all 1s ease-in-out os;
    }
    50%{
        transform: translateX(-200px) rotate(360deg);
        transition: all 1s ease-in-out 0s;
    }
    75%{
        transform: translateX(-100px) rotate(180deg);
        transition: all 1s ease-in-out 0s;
    }
    100%{
        transform: translateX(-0px) rotate(0deg);
        transition: all 1s ease-in-out 0s;
    }
}
#box3:hover{
    animation-name: spind;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes spind {
    0%{
        transform: translateY(0px) rotate(0deg);
        transition: all 0s ease-in-out 0s;
        
    }
    25%{
        transform: translateY(100px) rotate(180deg);
        transition: all 1s ease-in-out os;
    }
    50%{
        transform: translateY(200px) rotate(360deg);
        transition: all 1s ease-in-out 0s;
    }
    75%{
        transform: translateY(100px) rotate(180deg);
        transition: all 1s ease-in-out 0s;
    }
    100%{
        transform: translateY(0px) rotate(0deg);
        transition: all 1s ease-in-out 0s;
    }
}